<html>
<head>
    <title>{{pageTitle}}</title>
    <link rel="icon" href="/img/weather.png" />
    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <body>
    <div class = "main-content">
      {{>header}}
      <p>Ce site est l'oeuvre de GFMT-Dpost. Il utilise les donneés des API de weatherstack.com et mapbox.com </p>
    <img class= "portrait" src={{img}} />
    </div>
    
    {{>footer}}
  </body>
</html>