<html>
  <head>
    <title>{{pageTitle}}</title>
    <link rel="icon" href="/img/weather.png" />
    <link rel="stylesheet" href="./css/styles.css" />
   
  </head>
 
  <body>
    <div class = "main-content">
    {{>header}}
    <p>Recherche la temperature de n'importe quel lieu au monde!</p>

    <form>
      <input placeholder ="Entrer un lieu">
      <button>Cherche!</button>
    </form>
    <p id="message-1"></p>
    <p id="message-2"></p>
    <p id="message-3"></p>

    </div>

    <div>
      <p>{{geoError}}</p>
      <p>{{tempError}}</p>
    </div>
     <script src="/js/app.js"></script>
   {{>footer}}
  </body>
</html>